<div class="row">
  <div class="contents col-md-9">
    {{{index}}}
  </div>

  <div class="col-md-3" id="sidebar">
  	<div class = "sidebar-logo">
	<a href = "http://mi2.mini.pw.edu.pl/">
		<img src = "https://github.com/mi2-warsaw/MI2template/blob/master/inst/pkgdown/assets/MI2logo.jpg?raw=true" alt = "MI2" height = 75 title = "MI2" class = "sidebar-logo">
	 </a>
	 </br>
	 <p>
		MI^2 (pronounce: Am I square?) is a group of mathematicians and computer scientists that love to play with data. We create tools, do consulting and share our positive attitude. 
	 </p>
	</div>
    {{#sidebar}}
    {{{.}}}
    {{/sidebar}}
  </div>
</div>

